.root {
    -fx-font-family: 'Arial';
    -fx-font-size: 12px;
    -fx-background-color: #f0f0f0;
}

.label.header {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #2e2e2e;
    -fx-alignment: center;
    -fx-padding: 8px;
}

.label.value-label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.label.value {
    -fx-font-size: 14px;
    -fx-text-fill: #666;
    -fx-padding: 5px;
}

.text-field {
    -fx-font-size: 12px;
    -fx-border-color: #ccc;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #2C3E50;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #2C3E50;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 4px;
    -fx-padding: 8px 13px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.radio-button {
    -fx-padding: 5px;
    -fx-font-size: 12px;
}

.separator {
    -fx-padding: 8px 0;
}